@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin :0;
  padding:0;
   font-family: "Inter", sans-serif;
   box-sizing: border-box;
   color: rgb(56, 55, 55);
}

.app{
  min-height: 100vh;
  display: grid;
  background-color: #4ED7F1;
  background-image: linear-gradient(#6FE6FC 50%,#A8F1FF 100%,#FFFA8D 100%);
}
.weather{
  place-self: center;
  padding: 50px;
  background: rgba(112, 100, 100, 0.3);
  border-radius: 5px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px) ;
  box-shadow: 0 8px 32px rgba(0,0,0,0.37);
  border:1px solid rgba(75, 73, 73, 0.18)
}

.weather input{
  height:50px;
  width: 500px;
  border-radius: 5px;
  border:1px solid rgba(0,0,0,0.37);
  padding-left: 25px;
  font-size: 16px;
  color: rgb(73, 73, 73);
  
}
.weather h2{
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
  
}
.weather button{
  background-color: #3fa1b4;
  height: 50px;
  padding: 10px;
  margin-left: 10px;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}